@font-face {
    font-family: Samim;
    src: url('../../fonts/Samim/Samim-FD.eot');
    src: url('../../fonts/Samim/Samim-FD.eot') format('embedded-opentype');
    src: url('../../fonts/Samim/Samim-FD.woff') format('woff');
    src: url('../../fonts/Samim/Samim-FD.ttf') format('truetype');
    font-weight: normal;
    font-sty1e: normal;
}