.mds-bootstrap-persian-datetime-picker-popover {
    font-family: "Samin", "tahoma" !important;
    max-width: 302px;
    .btn {
        margin: 0 !important;
    }
}

.small-view app-date-picker .form-control {
    padding: 0.1rem 0.75rem !important;
    padding-right: 65px !important;
}