<div class="row">
    <div class="col-lg-12">
        <nb-card>
            <nb-card-header class="clearfix">
                <div class="float-right">
                    <app-page-header [title]="'Pages.Staff.Complementary'" [icon]="'assets/images/icons/complementary.png'">
                    </app-page-header>
                </div>
                <div class="float-left">
                    <button pButton pRipple type="button" label="{{'Public.Back' | translate}}" icon="pi pi-arrow-left" iconPos="right" (click)="cancelClick()" class="p-button-outlined p-button-secondary"></button>
                </div>
            </nb-card-header>
            <nb-card-body>
                <div class="complementary-items">
                    <div class="complementary-item">
                        <div class="beat" (click)="goTo(1)">
                            <img src="assets/images/icons/80/staff-address.png" class="mb-2" />
                            <h6>
                                {{'Pages.Staff.ComplementaryAddress' | translate}}
                            </h6>
                        </div>
                    </div>

                    <div class="complementary-item">
                        <div class="beat" (click)="goTo(2)">
                            <img src="assets/images/icons/80/staff-complementary.png" class="mb-2" />
                            <h6>
                                {{'Pages.Staff.ComplementaryTitle' | translate}}
                            </h6>
                        </div>
                    </div>

                    <div class="complementary-item">
                        <div class="beat" (click)="goTo(3)">
                            <img src="assets/images/icons/80/staff-financial.png" class="mb-2" />
                            <h6>
                                {{'Pages.Staff.ComplementaryFinancial' | translate}}
                            </h6>
                        </div>
                    </div>

                    <div class="complementary-item">
                        <div class="beat" (click)="goTo(4)">
                            <img src="assets/images/icons/80/staff-documents.png" class="mb-2" />
                            <h6>
                                {{'Pages.Staff.ComplementaryDocuments' | translate}}
                            </h6>
                        </div>
                    </div>

                    <div class="complementary-item">
                        <div class="beat" (click)="goTo(5)">
                            <img src="assets/images/icons/80/staff-resume.png" class="mb-2" />
                            <h6>
                                {{'Pages.Staff.ComplementaryResume' | translate}}
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="complementary-items">
                    <div class="complementary-item">
                        <div class="beat" (click)="goTo(6)">
                            <img src="assets/images/icons/80/staff-activity.png" class="mb-2" />
                            <h6>
                                {{'Pages.Staff.ComplementaryActivities' | translate}}
                            </h6>
                        </div>
                    </div>

                    <div class="complementary-item">
                        <div class="beat" (click)="goTo(7)">
                            <img src="assets/images/icons/80/staff-family.png" class="mb-2" />
                            <h6>
                                {{'Pages.Staff.ComplementaryFamily' | translate}}
                            </h6>
                        </div>
                    </div>

                    <div class="complementary-item">
                        <div class="beat" (click)="goTo(8)">
                            <img src="assets/images/icons/80/staff-cooperation.png" class="mb-2" />
                            <h6>
                                {{'Pages.Staff.ComplementaryCooperation' | translate}}
                            </h6>
                        </div>
                    </div>

                    <div class="complementary-item">
                        <div class="beat" (click)="goTo(9)">
                            <img src="assets/images/icons/80/staff-sacrifice.png" class="mb-2" />
                            <h6>
                                {{'Pages.Staff.ComplementarySacrifice' | translate}}
                            </h6>
                        </div>
                    </div>

                    <div class="complementary-item">
                        <div class="beat" (click)="goTo(10)">
                            <img src="assets/images/icons/80/staff-upload-documents.png" class="mb-2" />
                            <h6>
                                {{'Pages.Staff.ComplementaryUploadDocuments' | translate}}
                            </h6>
                        </div>
                    </div>
                </div>
            </nb-card-body>

        </nb-card>
    </div>
</div>