.err {
    display: block;
    padding: 5px 2px !important;
    color: #e61b1b;
    line-height: 1rem;
    font-size: 9pt;
    font-weight: bold;
}

.title {
    display: block;
    font-weight: bold;
    width: 100%;
}

.wrp {
    margin-right: -8px;
    margin-left: -8px;
}
