<p-dialog [contentStyle]="{'overflow': 'visible'}" [(visible)]="display" header="تغییر رمز عبور" [baseZIndex]="10000" [draggable]="false" [resizable]="false" [modal]="true" [breakpoints]="small" (onHide)="cancelClick()">

    <div [formGroup]="form">
        <div class="p-field p-col-12 col-md-12">
            <label class="form-control-label" requiredMark> {{'Pages.ChangePassword.CurrentPassword' | translate}}</label>
            <input type="password" formControlName="currentPassword" pInputText placeholder="{{'Public.Enter' | translate}}" [maxLength]="32" autocomplete="new-password" />
            <mandegar-error-messages [control]="f.currentPassword"></mandegar-error-messages>

        </div>

        <div class="p-field p-col-12 col-md-12">
            <label class="form-control-label" requiredMark>{{'Pages.ChangePassword.NewPassword' | translate}}
      </label>
            <input type="password" formControlName="newPassword" pInputText placeholder="{{'Public.Enter' | translate}}" [maxLength]="32" autocomplete="new-password" />
            <mandegar-error-messages [control]="f.newPassword"></mandegar-error-messages>

        </div>

        <div class="p-field p-col-12 col-md-12">
            <label class="form-control-label" requiredMark>{{'Pages.ChangePassword.RepeatNewPassword' | translate}}
      </label>
            <input type="password" formControlName="repeatNewPassword" pInputText placeholder="{{'Public.Enter' | translate}}" [maxLength]="32" autocomplete="new-password" />
            <mandegar-error-messages [control]="f.repeatNewPassword"></mandegar-error-messages>

        </div>


        <div class="p-text-left p-mt-4">
            <button pButton pRipple label="{{'Public.Submit' | translate}}" icon="pi pi-plus" iconPos="left" class="" (click)="changePassword()"></button>
            <button pButton pRipple label="{{ 'Public.Back' | translate }}" icon="pi pi-arrow-left" iconPos="left" class="p-button-outlined" (click)="cancelClick()"></button>
        </div>
    </div>
</p-dialog>