.recovery-password {
    color: black;
    color: #8f9bb3;
    display: inline-block;
    border-bottom: 1px dotted #8f9bb3;
    text-decoration: none;
    padding-bottom: 5px;
}

.recovery-password:hover {
    color: #666b74;
}