<div class="row">
  <div class="col-lg-12">
      <nb-card>
          <nb-card-header class="clearfix">
              <div class="float-right">
                  <app-page-header [title]="'Pages.AssignPositions.AssignPosition'" [icon]="'assets/images/icons/add-role.png'">
                  </app-page-header>
              </div>
              <div class="float-left">
                  <button pButton pRipple type="button" label="{{'Public.Back' | translate}}" icon="pi pi-arrow-left" iconPos="right" (click)="cancelClick()" class="p-button-outlined p-button-secondary"></button>
              </div>
          </nb-card-header>
          <nb-card-body>
              <form [formGroup]="form" aria-labelledby="title">

                <div class="p-field p-col-12 col-md-12">
                  <label class="form-control-label" [requiredMark] style="opacity: 0.0;animation: showHide 1s infinite;">{{
                    "Pages.AssignPositions.Staff" | translate
                  }}</label>
                  <p-dropdown
                    [filter]="true"
                    emptyFilterMessage="{{
                      'Public.EmptyFilterMessage' | translate
                    }}"
                    [showClear]="true"
                    formControlName="staffId"
                    [options]="staffList"
                    appendTo="body"
                    baseZIndex="1"
                    emptyMessage="{{ 'Public.EmptyMessage' | translate }}"
                    placeholder="{{ 'Public.Select' | translate }}"
                  >
                  </p-dropdown>
                  <mandegar-error-messages
                    [control]="f.staffId"
                  ></mandegar-error-messages>
                </div>

                  <br>
                  <span>{{"Pages.AssignPositions.Position" | translate}}</span>
                  <hr>

                  <div style="margin-bottom: 1rem">
                      <button pButton pRipple pTooltip="{{'Public.Expand' | translate}}" tooltipPosition="bottom" type="button" (click)="expandAll()" icon="pi pi-angle-down" class="p-button-rounded p-button-success"></button> &nbsp;
                      <button pButton pRipple pTooltip="{{'Public.Collapse' | translate}}" tooltipPosition="bottom" type="button" (click)="collapseAll()" icon="pi pi-angle-up" class="p-button-rounded p-button-info"></button>
                  </div>

                  <p-tree [value]="nodes" [filter]="true" filterMode="strict" [emptyMessage]="message" selectionMode="checkbox" (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)" [(selection)]="node"></p-tree>

              </form>
          </nb-card-body>
          <nb-card-footer>
              <div class="p-text-left">
                  <button pButton pRipple label="{{'Public.Submit' | translate}}" icon="pi pi-check" iconPos="left" class="" (click)="sendRequest()"></button>
                  <button pButton pRipple label="{{ 'Public.Back' | translate }}" icon="pi pi-arrow-left" iconPos="right" class="p-button-outlined" (click)="cancelClick()"></button>
              </div>
          </nb-card-footer>
      </nb-card>
  </div>
</div>


<!-- <p-dialog
  [contentStyle]="{ overflow: 'visible' }"
  [(visible)]="display"
  header="ثبت "
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
  [breakpoints]="small"
  (onHide)="cancelClick()"
>
  <ng-template pTemplate="content">
    <div class="row">
      <div class="col-lg-12">
        <form [formGroup]="form">
          <div class="row">
            <div class="p-col-12 col-md-12">
              <div class="p-field p-col-12 col-md-12">
                <label class="form-control-label" [requiredMark]>{{
                  "Pages.AssignPositions.Staff" | translate
                }}</label>
                <p-dropdown
                  [filter]="true"
                  emptyFilterMessage="{{
                    'Public.EmptyFilterMessage' | translate
                  }}"
                  [showClear]="true"
                  formControlName="staffId"
                  [options]="staffList"
                  appendTo="body"
                  baseZIndex="1"
                  emptyMessage="{{ 'Public.EmptyMessage' | translate }}"
                  placeholder="{{ 'Public.Select' | translate }}"
                >
                </p-dropdown>
                <mandegar-error-messages
                  [control]="f.staffId"
                ></mandegar-error-messages>
              </div>
              <div class="p-field p-col-12 col-md-12">
                <span>{{"Pages.AssignPositions.Position" | translate}}</span>
                    <hr>
                    <div style="margin-bottom: 1rem">
                        <button pButton pRipple pTooltip="{{'Public.Expand' | translate}}" tooltipPosition="bottom" type="button" (click)="expandAll()" icon="pi pi-angle-down" class="p-button-rounded p-button-success"></button> &nbsp;
                        <button pButton pRipple pTooltip="{{'Public.Collapse' | translate}}" tooltipPosition="bottom" type="button" (click)="collapseAll()" icon="pi pi-angle-up" class="p-button-rounded p-button-info"></button>
                    </div>
                    <p-tree [value]="nodes" [filter]="true" filterMode="strict" [emptyMessage]="message" selectionMode="checkbox" (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)" [(selection)]="node"></p-tree>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="p-text-left">
      <button
        pButton
        pRipple
        label="{{ 'Public.Submit' | translate }}"
        icon="pi pi-check"
        iconPos="left"
        class=""
        (click)="acceptClick()"
      ></button>
      <button
        pButton
        pRipple
        label="{{ 'Public.Back' | translate }}"
        icon="pi pi-arrow-left"
        iconPos="right"
        class="p-button-outlined"
        (click)="cancelClick()"
      ></button>
    </div>
  </ng-template>
</p-dialog> -->
